@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome - PCN -</h1>
    <a asp-controller="Home" asp-action="GetToApi" class="btn btn-primary mb-3">API</a>
    <br/>
    <div style="display-4">
        <a asp-controller="Home" asp-action="viewProducts" class="btn btn-dark">Products</a>
    </div>
</div>
