@using BackEndProduseCheltuieliNotite.Models.Objects
@model Product

@{
    ViewData["Title"] = "Products";
}

<div class="text-center">
    <h1 class="display-4">Edit product</h1>
    <br />
</div>

<form asp-action="viewProductsCreateEdit" asp-controller="Home">
    <div class="form-group mb-4">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group mb-4">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group mb-4">
        <label asp-for="Quantity" class="control-label"></label>
        <input asp-for="Quantity" class="form-control" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
